

.title {
    background-color: red;
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    margin: 0;
    height: 100px;
    padding-top: 18px;
    color: gold;
}

.heading {
    padding-top: 5px;
}

.nav-item {
    font-family: 'RocknRoll One', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    background-color: red;
    margin: 0;
    line-height: 50px;
}

.nav-item a {
    color: gold;
}

.one {
    font-family: 'RocknRoll One', sans-serif;
    text-align: right;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: gold;
    color: red;
}

.two {
    font-family: 'RocknRoll One', sans-serif;
    text-align: right;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: gold;
    color: red;
}

.three {
    font-family: 'RocknRoll One', sans-serif;
    text-align: left;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: gold;
    color: red;
}

.four {
    font-family: 'RocknRoll One', sans-serif;
    text-align: left;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: gold;
    color: red;
}

.center-image {
    margin: 5px;
    padding: 5px;
    background-color: gold;
}

.center-title {
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: gold;
    color: red;
}

.center-bio {
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: gold;
    color: red;
}

.home {
    background-color: red;
    padding-bottom: 35px;
}

.gallery {
    background-color: red;
    padding-bottom: 35px;
}

.biography {
    background-color: red;
    padding-bottom: 35px;
}

.contact {
    background-color: red;
    padding-bottom: 35px;
}

.nav-item a:hover {
    background-color: gold;
    color: red;
}

.dropdown-menu {
    font-family: 'RocknRoll One', sans-serif;
    background-color: gold;
}
.dropdown-item {
    color: red;
}

.dropdown-item:hover {
    background-color: red;
    color: gold;
}

svg:hover {
    fill: red;
}

.submit {
    background-color:red;
    color: gold;    
}

.submit:hover {
    background-color: gold;
    color: red;
}


