.title {
    background-color: rgb(199, 17, 17);
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    margin: 0;
    height: 100px;
    padding-top: 18px;
    color: rgb(250, 213, 4);
}

.heading {
    padding-top: 5px;
}

.dropdown-menu {
    font-family: 'RocknRoll One', sans-serif;
    background-color: rgb(250, 213, 4);
}

.dropdown-item {
    color: rgb(138, 4, 4);
}

.dropdown-item:hover {
    background-color: rgb(199, 17, 17);
    color: rgb(250, 213, 4);
}

svg:hover {
    fill: rgb(199, 17, 17);
}

.nav-item {
    font-family: 'RocknRoll One', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    background-color: rgb(199, 17, 17);
    margin: 0;
    line-height: 50px;
}

.nav-item a {
    color: rgb(250, 213, 4);
}

.nav-item a:hover {
    background-color: rgb(250, 213, 4);
    color: rgb(199, 17, 17);
}

.center-title {
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: rgb(250, 213, 4);
    color: rgb(138, 4, 4);
}

.home {
    background-color: rgb(199, 17, 17); 
    padding-bottom: 35px;
}

.gallery {
    background-color: rgb(199, 17, 17);
    padding-bottom: 35px;
}

.biography {
    background-color: rgb(199, 17, 17);
    padding-bottom: 35px;
}

.contact {
    background-color: rgb(199, 17, 17);
    padding-bottom: 35px;
}

.column-left {
   padding-top: 55px; 
}

.column-right {
    padding-top: 55px;
}

.submit {
    background-color:rgb(138, 4, 4);
    color: rgb(250, 213, 4);    
}

.submit:hover {
    background-color: rgb(250, 213, 4);
    color: rgb(199, 17, 17);
}

.left-one {
    font-family: 'RocknRoll One', sans-serif;
    text-align: right;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: rgb(250, 213, 4);
    color: rgb(138, 4, 4);
}

.left-two {
    font-family: 'RocknRoll One', sans-serif;
    text-align: right;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: rgb(250, 213, 4);
    color: rgb(138, 4, 4);
}

.left-three {
    font-family: 'RocknRoll One', sans-serif;
    text-align: right;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: rgb(250, 213, 4);
    color: rgb(138, 4, 4);
}

.left-four {
    font-family: 'RocknRoll One', sans-serif;
    text-align: right;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: rgb(250, 213, 4);
    color: rgb(138, 4, 4);
}

.right-one {
    font-family: 'RocknRoll One', sans-serif;
    text-align: left;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: rgb(250, 213, 4);;
    color: rgb(138, 4, 4);
}

.right-two {
    font-family: 'RocknRoll One', sans-serif;
    text-align: left;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: rgb(250, 213, 4);
    color: rgb(138, 4, 4);
}

.right-three {
    font-family: 'RocknRoll One', sans-serif;
    text-align: left;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: rgb(250, 213, 4);
    color: rgb(138, 4, 4);
}

.right-four {
    font-family: 'RocknRoll One', sans-serif;
    text-align: left;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: rgb(250, 213, 4);
    color: rgb(138, 4, 4);
}

.center-image {
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: rgb(250, 213, 4);
    color: rgb(138, 4, 4);;
}

.center-bio {
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    background-color: rgb(250, 213, 4);
    color: rgb(138, 4, 4);
}




